body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar{
    background-color: #151414;

}
.navbar-brand{
    color: #ffffff;
}
.navbar-brand:hover {
    color: #b2b2b2;
}

.navbar-header > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu {
    background-color: #151414 !important;
    padding-left: 10px !important;
    border-radius: 3px;
}