
@{
    ViewBag.Title = "Index";
}

<div style="margin-top:50px;">
    <h2>Prueba Login, bienvenido</h2>
</div>
<div class="body-content" style="height:400px; padding-top:30px;">
    <h3></h3>
</div >

