USE [master]
GO
/****** Object:  Database [BDDemoLogin]    Script Date: 11/02/2021 17:19:44 ******/
CREATE DATABASE [BDDemoLogin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDDemoLogin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDDemoLogin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDDemoLogin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDDemoLogin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDDemoLogin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDDemoLogin]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 11/02/2021 17:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[IDGRUPO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREGRUPO] [varchar](100) NULL,
	[HABILITADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoPermiso]    Script Date: 11/02/2021 17:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoPermiso](
	[IDGRUPOPERMISO] [int] IDENTITY(1,1) NOT NULL,
	[IDGRUPO] [int] NULL,
	[IDPERMISO] [int] NULL,
	[HABILITADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGRUPOPERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 11/02/2021 17:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[IDPERMISO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREPAGINA] [varchar](100) NULL,
	[NOMBREACCION] [varchar](100) NULL,
	[NOMBRECONTROLADOR] [varchar](100) NULL,
	[HABILITADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/02/2021 17:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREUSUARIO] [varchar](100) NULL,
	[CONTRA] [varchar](100) NULL,
	[IDGRUPO] [int] NULL,
	[HABILITADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Grupo] ON 

INSERT [dbo].[Grupo] ([IDGRUPO], [NOMBREGRUPO], [HABILITADO]) VALUES (1, N'Grupo1', 1)
INSERT [dbo].[Grupo] ([IDGRUPO], [NOMBREGRUPO], [HABILITADO]) VALUES (2, N'Grupo2', 1)
INSERT [dbo].[Grupo] ([IDGRUPO], [NOMBREGRUPO], [HABILITADO]) VALUES (3, N'Grupo3', 0)
SET IDENTITY_INSERT [dbo].[Grupo] OFF
GO
SET IDENTITY_INSERT [dbo].[GrupoPermiso] ON 

INSERT [dbo].[GrupoPermiso] ([IDGRUPOPERMISO], [IDGRUPO], [IDPERMISO], [HABILITADO]) VALUES (4, 7, 2, 1)
INSERT [dbo].[GrupoPermiso] ([IDGRUPOPERMISO], [IDGRUPO], [IDPERMISO], [HABILITADO]) VALUES (5, 7, 3, 1)
INSERT [dbo].[GrupoPermiso] ([IDGRUPOPERMISO], [IDGRUPO], [IDPERMISO], [HABILITADO]) VALUES (12, 9, 3, 1)
SET IDENTITY_INSERT [dbo].[GrupoPermiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([IDPERMISO], [NOMBREPAGINA], [NOMBREACCION], [NOMBRECONTROLADOR], [HABILITADO]) VALUES (2, N'Usuario', N'Index', N'Usuario', 1)
INSERT [dbo].[Permiso] ([IDPERMISO], [NOMBREPAGINA], [NOMBREACCION], [NOMBRECONTROLADOR], [HABILITADO]) VALUES (3, N'Grupo', N'Index', N'Grupo', 1)
INSERT [dbo].[Permiso] ([IDPERMISO], [NOMBREPAGINA], [NOMBREACCION], [NOMBRECONTROLADOR], [HABILITADO]) VALUES (4, N'Agregar Usuario', N'Agregar', N'Usuario', 1)
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IDUSUARIO], [NOMBREUSUARIO], [CONTRA], [IDGRUPO], [HABILITADO]) VALUES (2, N'Usuario1', N'95D245F3EB25EB695E980C0591C16A4C818E609CD2AAC265580749C877848926', 2, 1)
INSERT [dbo].[Usuario] ([IDUSUARIO], [NOMBREUSUARIO], [CONTRA], [IDGRUPO], [HABILITADO]) VALUES (3, N'Usuario 2', N'95D245F3EB25EB695E980C0591C16A4C818E609CD2AAC265580749C877848926', 1, 1)
INSERT [dbo].[Usuario] ([IDUSUARIO], [NOMBREUSUARIO], [CONTRA], [IDGRUPO], [HABILITADO]) VALUES (4, N'Usuario 3', N'95D245F3EB25EB695E980C0591C16A4C818E609CD2AAC265580749C877848926', 1, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[GrupoPermiso]  WITH CHECK ADD FOREIGN KEY([IDGRUPO])
REFERENCES [dbo].[Grupo] ([IDGRUPO])
GO
ALTER TABLE [dbo].[GrupoPermiso]  WITH CHECK ADD FOREIGN KEY([IDPERMISO])
REFERENCES [dbo].[Permiso] ([IDPERMISO])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IDGRUPO])
REFERENCES [dbo].[Grupo] ([IDGRUPO])
GO
USE [master]
GO
